##Instructions for cloning the bb.org-overlays and compiling .dts to .dtbo

debian@beaglebone:/opt/git_repo git clone https://github.com/beagleboard/bb.org-overlays 

debian@beaglebone:/opt/git_repo cd ./bb.org-overlays/ 

debian@beaglebone:/opt/git_repo/bb.org-overlays sudo nano src/arm/EBB-GPIO-Example.dts 

<copy your code block in> 

debian@beaglebone:/opt/git_repo/bb.org-overlays sudo make src/arm/EBB-GPIO-Example.dtbo 
  DTC     src/arm/EBB-GPIO-Example.dtbo 

debian@beaglebone:/opt/git_repo/bb.org-overlays$ ls -lh src/arm/EBB-GPIO-Example.dt* 
-rw-r--r-- 1 voodoo voodoo  881 May  2 22:22 src/arm/EBB-GPIO-Example.dtbo 
-rw-r--r-- 1 voodoo voodoo 1.6K May  2 22:21 src/arm/EBB-GPIO-Example.dts 
